<div class="container ">
  <div class="section">
    <h5 id="no-seleccionable" class="center grey-text">⭐Quiénes Somos</h5>
    <h4 class="center blue-text"><strong>Somos Universal de gradas</strong></h4>
    <!--   Icon Section   -->
    <div class="row ">
      <div class="col s12 m4">
        <div class="icon-block z-depth-3 white" style="height: 360px;">
          <h2 class="center blue-text lighten-2"><img height="80%" src="{{Servicio1}}"></h2>
          <h5 class="center">Curvado De Tubos</h5>
          <p class="black-text border-darken-4">Servicio de Curvado para pasamanos. Balcones. Estructura para techos en
            tubería coll Roll, aguas negras y galvanizados en calibres 18 y 16 tubos cuadros, rectangulares y redondos.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block z-depth-3 white" style="height: 360px;">
          <h2 class="center blue-text lighten-2"><img height="80%" src="{{Servicio1}}"></h2>
          <h5 class="center">Entorche De Varillas</h5>
          <p class="black-text border-darken-4 ">Servicio de corte y entorche de varillas cuadradas de 11 mm hasta
            varillas de 5/8 desde 80 cmt hasta 6 metros en va.</p>

        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block z-depth-3 white" style="height: 360px;">
          <h2 class="center blue-text lighten-2"><img height="80%" src="{{Servicio1}}"></h2>
          <h5 class="center">Mantenimiento De Gradas</h5>
          <p class="black-text border-darken-4">Servicio completo reparación y mantenimientos de gradas prefabricadas en
            caracol, espinas y mixtas, sus gradas quedarán como nuevas.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="{{parallax}}"></div>
</div>

<div class="container " id='habilidades'>
  <div class="section">
    <h5 id="no-seleccionable" class="center grey-text">⭐FUNDAMENTOS</h5>
    <h4 class="center blue-text"><strong>Nuestra Estrategia</strong></h4>
    <!--   Icon Section   -->
    <div class="row ">
      <div class="col s12 m4">
        <div class="icon-block z-depth-3 white" style="height: 300px;">
          <h2 class="center blue-text lighten-2"><img height="80%" src="{{Servicio1}}"></h2>
          <h5 class="center">Soluciones innovadoras</h5>
          <p class="black-text border-darken-4">Las innovaciones y los experimentos en construcción son esenciales ya
            que permiten crear gradas y diseños exclusivos.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block z-depth-3 white" style="height: 300px;">
          <h2 class="center blue-text lighten-2"><img height="80%" src="{{Servicio1}}"></h2>
          <h5 class="center">Últimas Tecnologías</h5>
          <p class="black-text border-darken-4 ">Proporcionar a los clientes mejores servicios requiere la
            implementación de las últimas tecnologías, que integramos a las tradicionales.</p>

        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block z-depth-3 white" style="height: 300px;">
          <h2 class="center blue-text lighten-2"><img height="80%" src="{{Servicio1}}"></h2>
          <h5 class="center">Impresionantes soluciones de diseño</h5>
          <p class="black-text border-darken-4">Nuestros diseñadores son altamente educados, experimentados y están
            llenos de ideas para implementar en nuestro trabajo de construcción.</p>
        </div>
      </div>
    </div>
    <div class="section center">
      <a class="btn waves-effect blue white-text" routerLink="/catalogo">Mira nuestro catalogo</a>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="{{parallax}}"></div>
</div>