<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"
    rel="stylesheet" media="screen,projection">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<nav class="light-blue nav-extended">
    <div class="nav-wrapper">
        <a id="logo-container" class="brand-logo center">
            <img style="height: 60px;" src="{{img}}">
        </a>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab" style="width: 20%;"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
            <li class="tab" style="width: 20%;"><a routerLink="/acerca" routerLinkActive="active">Acerca de Nosotos</a></li>
            <li id="down" class="tab" style="width: 20%;"><a href="#Servicios" routerLinkActive="active">Servicios</a></li>
            <li class="tab" style="width: 20%;"><a routerLink="/catalogo" routerLinkActive="active">Catalogo</a></li>
            <li class="tab" style="width: 20%;"><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
        </ul>
    </div>
</nav>