<!--   Icon Section primera 3 cards  -->
<div class="row ">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmoduloprimario}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomoduloprimario}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linkprimario}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmoduloprimario1}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomoduloprimario1}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linkprimario1}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmoduloprimario2}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomoduloprimario2}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linkprimario2}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Icon Section segunda 3 cards  -->

<div class="row ">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmodulosecundario}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomodulosecundario}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linksecundario}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmodulosecundario1}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomodulosecundario1}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linksecundario1}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmodulosecundario2}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomodulosecundario2}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linksecundario2}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Icon Section tercera 3 cards -->

<div class="row ">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmodulotercero}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomodulotercero}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linktercero}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmodulotercero1}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomodulotercero1}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linktercero1}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img id="card" src="{{imgmodulotercero2}}">
                <span class="card-title"></span>

            </div>
            <div class="card-content">
                <div class="center">
                    <p><strong>{{titulomodulotercero2}}</strong></p>
                    <a class="{{BTN}}" routerLink="{{linktercero2}}">{{catalogo}}</a>
                </div>
            </div>
        </div>
    </div>
</div>