<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{parallax}}"></div>
</div>
<h1>asdasd</h1>
<div class="container ">
    <div class="section">
        <h5 id="no-seleccionable" class="center grey-text">⭐ Servicios</h5>
        <h4 class="center blue-text"><strong>Estamos Orgullosos De Nuestro Catálogo De Productos</strong></h4>
        <!--   Icon Section primera 3 cards  -->
        <div class="row ">
            <app-catalogo-presentacion [DataEntrante]='card' *ngFor='let card of presentacionCatalogo'>
            </app-catalogo-presentacion>
        </div>
        <!--   Icon Section segunda 3 cards  -->
        <div class="row ">
            <app-catalogo-presentacion [DataEntrante]='card' *ngFor='let card of presentacionCatalogo1'>
            </app-catalogo-presentacion>
        </div>
        <!-- Icon Section tercera 3 cards -->
        <div class="row ">
            <app-catalogo-presentacion [DataEntrante]='card' *ngFor='let card of presentacionCatalogo2'>
            </app-catalogo-presentacion>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{parallax1}}"></div>
</div>