<div class="parallax-container valign-wrapper">
  <section ng-controller="MyCtrl">
    <img src="assets/img/Antejardines/2.jpg" class="parallax" du-parallax y="background" style="width: 100%;"
    alt="Unsplashed background img 1" />
  </section>
</div>
<app-servicio></app-servicio>
  <div class="parallax-container valign-wrapper">
    <section ng-controller="MyCtrl">
      <img src="assets/img/Espina/6.jpg" class="parallax" du-parallax y="background" style="width: 100%;"
      alt="Unsplashed background img 1" />
    </section>
  </div>